<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container">

        <div class="row">
            <div class="col-xl-6 col-lg-6 video-box d-flex justify-content-center align-items-center" data-aos="zoom-in">
                <img src="~/img/About.png" class="img-fluid" style="max-height: 50%;" />
            </div>

            <div class="col-xl-6 col-lg-6 d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                <div class="box-heading" data-aos="fade-up">
                    <h4>About us</h4>

                    <p> Video transcripts and summarization through AI technology have revolutionized the way we consume and understand multimedia content. A video transcript is a textual representation of the spoken words and audio in a video file. AI-powered transcription tools employ advanced algorithms and natural language processing techniques to convert spoken language into written text accurately and efficiently. This not only aids accessibility for individuals with hearing impairments but also enhances searchability and indexing for content creators. Additionally, AI-based summarization takes this a step further by condensing lengthy transcripts into concise summaries, providing users with quick overviews of the video's key points. This innovation is particularly beneficial in scenarios where time is limited, enabling users to grasp essential information without watching the entire video. As AI continues to advance, video transcripts and summarization contribute to a more efficient and inclusive multimedia landscape, catering to diverse audience needs.</p>
                </div>

            </div>
        </div>

    </div>
</section><!-- End About Section -->